<template>
  <div class="table table-shopping">
    <el-table style="width: 100%" :data="stores">
      <el-table-column min-width="150" label="Image" align="left">
        <div slot-scope="{ row }" class="img-container">
          <img :src="row.image" alt="Agenda" />
        </div>
      </el-table-column>
      <el-table-column min-width="220" label="Product" align="left">
        <div class="td-name" slot-scope="{ row }">
          <a href="">{{ row.itemName }}</a>
        </div>
      </el-table-column>
      <el-table-column min-width="180" label="Price" header-align="right">
        <div slot-scope="{ row }" class="td-number">
          <small>$</small>
          {{ row.sale }}
        </div>
      </el-table-column>
      <el-table-column min-width="180" label="Quantity" header-align="right">
        <div slot-scope="{ row }" class="td-number">
          {{ row.quant }}
          <div class="btn-group">
            <base-button
              type="info"
              size="sm"
              @click.native="decreaseQuantity(row)"
            >
              <i class="ni ni-fat-delete"></i>
            </base-button>
            <base-button
              type="info"
              size="sm"
              @click.native="increaseQuantity(row)"
            >
              <i class="ni ni-fat-add"></i>
            </base-button>
          </div>
        </div>
      </el-table-column>
      <el-table-column min-width="170" label="Amount" header-align="right">
        <div slot-scope="{ row }" class="td-number">
          {{ row.amount }}
        </div>
      </el-table-column>
    </el-table>
    <div class="table table-stats">
      <div class="td-total">
        Total
      </div>
      <div class="td-price">
        <small>$</small>
        {{ shoppingTotal }}
      </div>
      <div class="text-right">
        <button
          type="button"
          rel="tooltip"
          class="btn btn-info btn-round "
          data-original-title=""
          title=""
        >
          Complete Purchase
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn } from "element-ui";
import axios from "axios";

export default {
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  data() {
    return {
      stores: [],
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.retrieveProducts();
  },
  computed: {
    shoppingTotal() {
      return this.stores.reduce((accumulator, current) => {
        return accumulator + current.amount;
      }, 0);
    },
  },
  methods: {
    async increaseQuantity(row) {
      row.quant++;
      this.computeAmount(row);
    },
    async decreaseQuantity(row) {
      if (row.quant > 0) {
        row.quant--;
        this.computeAmount(row);
      }
    },
    async computeAmount(row) {
      row.amount = row.quant * row.sale;
    },
    async retrieveProducts() {
      // Get the access token from the auth wrapper
      const token = await this.$auth.getTokenSilently();

      // Use Axios to make a call to the API
      const { data } = await axios.get("/stores", {
        baseURL: "http://localhost:8090/api/",
        headers: {
          Authorization: `Bearer ${token}`, // send the access token through the 'Authorization' header
        },
      });

      this.stores = data;
      console.log(this.stores);
    },
  },
};
</script>
<style>
.table-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
</style>
