<template>
  <div class="wrapper">
    <!-- Header -->
    <div class="section-shaped my-0 skew-separator skew-mini">
      <div class="page-header page-header-small header-filter">
        <div
          class="page-header-image"
          style="background-image: url('img/pages/photo-15.jpg')"
        ></div>
        <div class="container">
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                <h1 class="text-white">Product Catalog</h1>
                <p class="text-lead text-white">Text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="upper">
      <div class="container">
        <div class="row">
          <!-- side cart -->
          <div class="col-lg-4">
            <div class="container">
              <h3 class="title text-white mt-3">Order summary</h3>
              <div class="row">
                <div class="card">
                  <div class="card-body">
                    <div class="media align-items-center mb-3">
                      <div class="cart">
                        <div class="col-md-5 col-6">
                          <img
                            src="img/pages/gucci.png"
                            alt="Rounded image"
                            class="img-fluid"
                          />
                        </div>
                        <div class="media-body">
                          <ul>
                            <li
                              v-for="product in filteredCart"
                              :key="product.itemNumber"
                            >
                              {{ product.itemName }} - {{ product.sale }} x
                              {{ product.quant }}
                            </li>
                          </ul>
                          <h2 class="h6">Shorts</h2>
                          <small class="d-block opacity-8">Small</small>
                        </div>
                        <div class="media-body text-right">
                          <span>$29</span>
                        </div>
                      </div>
                    </div>
                    <!-- <hr class="line-info mb-3" /> -->
                    <!-- <form class="code-validate">
                      <label>Discount</label>
                      <div class="input-group">
                        <base-input
                          placeholder="Discout Code"
                          class="mb-0"
                        ></base-input>
                        <div class="input-group-append">
                          <base-button nativeType="submit" type="info"
                            >Apply</base-button
                          >
                        </div>
                      </div>
                    </form> -->
                    <hr class="line-info mb-3" />
                    <div class="media align-items-center">
                      <h3 class="h6 opacity-8 mr-3">Subtotal</h3>
                      <div class="media-body text-right">
                        <span>$1038</span>
                      </div>
                    </div>
                    <!-- <div class="media align-items-center">
                      <h3 class="h6 opacity-8 mr-3">Shipping</h3>
                      <div class="media-body text-right">
                        <span>$5.8</span>
                      </div>
                    </div> -->
                    <hr class="line-info mb-3" />
                    <div class="media align-items-center">
                      <!-- <h3 class="h6">Total</h3> -->
                      <!-- <div class="media-body text-right">
                        <span class="font-weight-semi-bold">$1045.8</span>
                      </div> -->
                      <stripe-checkout
                        ref="checkoutRef"
                        :pk="publishableKey"
                        :lineItems="filteredCarts"
                        mode="payment"
                        :successUrl="successUrl"
                        :cancelUrl="cancelUrl"
                      >
                        <template slot="checkout-button">
                          <base-button
                            @click="checkout"
                            type="warning"
                            class="ml-3"
                          >
                            Checkout &nbsp;<i class="ni ni-cart"></i>
                          </base-button>
                          <!-- <p v-show="checkoutStatus">
                            Checkout {{ checkoutStatus }}.
                          </p> -->
                        </template>
                      </stripe-checkout>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Body -->
          <div class="col-lg-8">
            <card bodyClasses="p-0">
              <template slot="body">
                <div class="table table-shopping">
                  <el-table style="width: 100%" :data="products">
                    <el-table-column min-width="100" label="Image" align="left">
                      <div slot-scope="{ row }" class="img-container">
                        <img :src="row.image" alt="Agenda" />
                      </div>
                    </el-table-column>
                    <el-table-column
                      min-width="100"
                      label="Product"
                      align="left"
                    >
                      <div class="td-name" slot-scope="{ row }">
                        <a href="">{{ row.itemName }}</a>
                      </div>
                    </el-table-column>
                    <el-table-column
                      min-width="180"
                      label="Price"
                      header-align="left"
                    >
                      <div slot-scope="{ row }" class="td-number">
                        <small>$</small>
                        {{ row.sale }}
                      </div>
                    </el-table-column>
                    <el-table-column
                      min-width="180"
                      label="Quantity"
                      header-align="left"
                    >
                      <div slot-scope="{ row }" class="td-number">
                        {{ row.quant }}
                        <div class="btn-group">
                          <base-button
                            type="info"
                            size="sm"
                            @click.native="decreaseQuantity(row)"
                          >
                            <i class="ni ni-fat-delete"></i>
                          </base-button>
                          <base-button
                            type="info"
                            size="sm"
                            @click.native="increaseQuantity(row)"
                          >
                            <i class="ni ni-fat-add"></i>
                          </base-button>
                        </div>
                      </div>
                    </el-table-column>
                    <el-table-column
                      min-width="170"
                      label="Amount"
                      header-align="left"
                    >
                      <div slot-scope="{ row }" class="td-number">
                        {{ row.amount }}
                      </div>
                    </el-table-column>
                  </el-table>
                </div>
              </template>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// import ChoicesSingle from "@/components/SingleSelect";
// import Tabs from "@/components/Tabs/Tabs.vue";
// import TabPane from "@/components/Tabs/TabPane.vue";

import { Table, TableColumn } from "element-ui";
import axios from "axios";
import Card from "../components/Card.vue";
import { StripeCheckout } from "vue-stripe-checkout";
// import { mapState } from "vuex";

export default {
  bodyClass: "checkout-page",
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    Card,
    StripeCheckout,
  },
  data() {
    return {
      loading: false,
      products: [],
      publishableKey: "pk_test_xuuaEcmuwtheU8OlrsGCp8nn00UXYaikzu",
      lineItems: [],
      successUrl: "https://store.pharmaguide.ca/product-page",
      cancelUrl: "http://store.pharmaguide.ca/product-page",
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.retrieveProducts();
  },
  computed: {
    // ...mapState({
    //   checkoutStatus: (state) => state.cart.checkoutStatus,
    // }),
    shoppingTotal() {
      return this.products.reduce((accumulator, current) => {
        return accumulator + current.amount;
      }, 0);
    },
    // cart() {
    //   return this.products.map((cart) => {
    //     return [
    //       {
    //         price: cart.price,
    //         quantity: cart.quant,
    //       },
    //     ];
    //   });
    // },
    stripeCart() {
      return this.products.map((product) => {
        // if (product.quant > 0) {
        return {
          price: product.price,
          quantity: product.quant,
        };
        // } else {
        //   return "";
        // }
      });
    },
    filteredCart() {
      return this.products.filter((product) => {
        if (product.quant > 0) {
          return {
            price: product.price,
            quantity: product.quant,
          };
        } else {
          return "";
        }
      });
    },
    filteredCarts() {
      return this.products
        .filter((product) => product.quant > 0)
        .map((product) => {
          return {
            price: product.price,
            quantity: product.quant,
          };
        });
    },
  },
  methods: {
    // ...mapState({
    //   checkoutStatus: (state) => state.cart.checkoutStatus,
    // }),
    checkout() {
      this.$refs.checkoutRef.redirectToCheckout();
    },
    async increaseQuantity(row) {
      row.quant++;
      this.computeAmount(row);
    },
    async decreaseQuantity(row) {
      if (row.quant > 0) {
        row.quant--;
        this.computeAmount(row);
      }
    },
    async computeAmount(row) {
      row.amount = row.quant * row.sale;
    },
    async retrieveProducts() {
      // Get the access token from the auth wrapper
      const token = await this.$auth.getTokenSilently();

      // Use Axios to make a call to the API
      const { data } = await axios.get("/stores", {
        baseURL: "http://localhost:8090/api/",
        // baseURL: "https://localhost:8090/api/",
        headers: {
          Authorization: `Bearer ${token}`, // send the access token through the 'Authorization' header
        },
      });
      this.products = data;
      console.log(this.products);
    },
  },
};
</script>
<style scoped>
.table-shopping .img-container {
    width: 100px !important;
    max-height: 160px !important;
    overflow: hidden !important;
    display: block !important;
}
.table-shopping .td-number {
    font-weight: 300 !important;
    font-size: 1rem !important;
}
.table-shopping .td-number {
    text-align: left !important;
    min-width: 50px !important;
}
.table-shopping .td-name {
    font-weight: 400;
    font-size: 1em !important;
}
.table-shopping .img-container img {
    width: 50% !important;
}
.container {
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
}
.table-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.checkout-page .nav.btn-group li {
  flex: 1 1 auto;
  padding: 0;
  text-align: center;
}

.checkout-page .nav.btn-group li a {
  padding: 0.25rem 0.5rem;
  margin: 0;
  box-shadow: none;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.checkout-page .nav.btn-group li:first-child a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.checkout-page .nav.btn-group li:last-child a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.checkout-page .nav.btn-group li a:not(.active) {
  border: 1px solid #11cdef;
}
</style>
