<template>
  <div class="post">
    <div class="wrapper">
      <div class="page-header page-header-small header-filter ">
        <div
          class="page-header-image"
          style="background-image: url('https://fax.nyc3.digitaloceanspaces.com/PHOX_FullLogo_FullColorBlue.png');"
        ></div>
        <div class="container pt-0">
          <div class="row">
            <div class="col-lg-6 col-md-7 mx-auto text-center">
              <h1 class="title text-white">Product List</h1>
              <br />
              <div class="buttons">
                <base-button
                  type="info"
                  @click="retrieveFaxes"
                  rounded
                  icon-only
                  size="lg"
                  icon="fa fa-cloud"
                ></base-button>
                <p class="mt-3 d-inline text-white">Refresh List</p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg
            x="0"
            y="0"
            viewBox="0 0 2560 100"
            preserveAspectRatio="none"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon
              class="fill-black"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <!-- Table -->
      <div class="table table-shopping">
        <el-table style="width: 100%" :data="stores">
          <!-- <el-table-column min-width="150" align="left"> </el-table-column> -->
          <!-- <el-table-column min-width="60" label="Link" align="left">
          <div class="td-name" slot-scope="{ row }">
            <a :href="row.URL" target="row.URL">{{ row._id }}</a>
          </div>
        </el-table-column> -->
          <el-table-column
            min-width="100"
            label="itemName"
            prop="itemName"
            align="left"
          >
            <div class="td-name" slot-scope="{ row }">
              {{ row.itemName }}
            </div></el-table-column
          >
          <el-table-column
            min-width="50"
            label="image"
            prop="image"
            align="left"
          >
            <div slot-scope="{ row }" class="img-container">
              <img :src="row.image" />
            </div>
          </el-table-column>
          <el-table-column
            min-width="60"
            label="itemNumber"
            prop="itemNumber"
            align="left"
          ></el-table-column>
          <el-table-column
            min-width="60"
            label="upc"
            prop="upc"
            align="left"
          ></el-table-column>
          <el-table-column
            min-width="60"
            label="sale"
            prop="sale"
            align="left"
          >
            <div class="td-price" slot-scope="{ row }">
              {{ row.sale }}
            </div></el-table-column
          >
          <el-table-column
            min-width="60"
            label="size"
            prop="size"
            align="left"
          ></el-table-column>
          <el-table-column min-width="60" label="add" align="left">
            <div class="btn-group">
              <stripe-checkout
                ref="checkoutRef"
                :pk="publishableKey"
                :lineItems="lineItems"
                mode="payment"
                :successUrl="successUrl"
                :cancelUrl="cancelUrl"
              >
                <template slot="checkout-button">
                  <ProductList />
                  <!-- <base-button @click="checkout" type="warning" class="ml-3">
                    Add to Cart &nbsp;<i class="ni ni-cart"></i>
                  </base-button> -->
                </template>
              </stripe-checkout>
            </div></el-table-column
          >

          <el-table-column min-width="180" label="Quantity" header-align="right">
          <div slot-scope="{ row }" class="td-number">
            {{ row.quantity }}
            <div class="btn-group">
              <base-button
                type="info"
                size="sm"
                @click.native="decreaseQuantity(row)"
              >
                <i class="ni ni-fat-delete"></i>
              </base-button>
              <base-button
                type="info"
                size="sm"
                @click.native="increaseQuantity(row)"
              >
                <i class="ni ni-fat-add"></i>
              </base-button>
            </div>
          </div>
        </el-table-column>
          <el-table-column min-width="170" label="Amount" header-align="right">
          <div slot-scope="{ row }" class="td-number">
            {{ row.amount }}
          </div>
        </el-table-column>
          <el-table-column min-width="100" label="">
          <div class="td-actions">
            <base-button type="" link class="text-danger">
              <i class="ni ni-fat-remove"></i>
            </base-button>
          </div>
        </el-table-column>
        </el-table>
        <div class="table table-stats">
          <div class="td-total">
        Total
      </div> 
          <div class="td-price">
        <small>€</small>
        {{ shoppingTotal }}
      </div> 
          <div class="text-right">
        <button
          type="button"
          rel="tooltip"
          class="btn btn-info btn-round "
          data-original-title=""
          title=""
        >
          Complete Purchase
        </button>
      </div> 
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { Table, TableColumn } from "element-ui";
import { StripeCheckout } from "vue-stripe-checkout";
import ProductList from "./ProductList.vue";
// import ShoppingCart from "./ShoppingCart.vue";
// import Card from "../components/Card.vue";

export default {
  name: "stores-list",
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
        ProductList,
    // ShoppingCart,
    // Testimonial
    // ChoicesSingle
    StripeCheckout,
    // Card
  },
  data() {
    return {
            loading: false,
      publishableKey: "pk_test_xuuaEcmuwtheU8OlrsGCp8nn00UXYaikzu",
      lineItems: [
        // // {
        // //   price: "price_1Hu8e5Jg0iXaYOVYppzUVxrs",
        // //   quantity: 2,
        // // },
        // {
        //   price: "price_1Hu88FJg0iXaYOVYlKRSbzQc",
        //   quantity: 1
        // }
      ],
      successUrl: "https://store.pharmaguide.ca/product-page",
      cancelUrl: "http://store.pharmaguide.ca/product-page",
      quantity: 1,
      search: "",
      expanded: [],
      singleExpand: false,
      headers: [
        // {
        //   text: "_id",
        //   align: "start",
        //   filterable: true,
        //   value: "_id"
        // },
        // { text: "itemName", filterable: true, value: "data-table-expand" },
        { text: "itemName", value: "itemName" },
        { text: "upc", value: "upc" },
        { text: "sale", value: "sale" },
        { text: "size", value: "size" },
        { text: "itemNumber", value: "itemNumber" },
        { text: "image", value: "image" },
        // { text: "SID", value: "SID" }
      ],
      stores: [
        {
          itemNumber: "",
          upc: "",
          itemName: "",
          sale: "",
          size: "",
          image: "",
        },
      ],
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.retrieveFaxes();
  },
  computed: {
    // shoppingTotal() {
    //   return this.productsTable.reduce((accumulator, current) => {
    //     return accumulator + current.amount;
    //   }, 0);
    // }
  },
  methods: {
    increaseQuantity(row) {
      row.quantity++;
      this.computeAmount(row);
    },
    decreaseQuantity(row) {
      if (row.quantity > 1) {
        row.quantity--;
        this.computeAmount(row);
      }
    },
    computeAmount(row) {
      row.amount = row.quantity * row.sale;
    },
    async retrieveFaxes() {
      // Get the access token from the auth wrapper
      const token = await this.$auth.getTokenSilently();

      // Use Axios to make a call to the API
      const { data } = await axios.get("/stores", {
        baseURL: "http://localhost:8090/api/",
        headers: {
          Authorization: `Bearer ${token}`, // send the access token through the 'Authorization' header
        },
      });

      this.stores = data;
      console.log(this.stores);
    },
    customDataTableItemsFilter(value, search, items) {
      /*
      Filter for individual words in search string. Filters
      all object values rather than just the keys included
      in the data table headers.
       */
      const wordArray = search
        .toString()
        .toLowerCase()
        .split(" ")
        .filter((x) => x);
      return wordArray.every((word) =>
        JSON.stringify(Object.values(items))
          .toString()
          .toLowerCase()
          .includes(word)
      );
    },
    Mounted() {
      this.retrieveFaxes();
    },
  },
};
</script>
