<template>
  <div class="table table-shopping">
    <card>
      <div class="cart">
        <h2>Your Cart</h2>
        <ul>
          <li v-for="product in filteredCart" :key="product.itemNumber">
            {{ product.itemName }} - {{ product.sale }} x
            {{ product.quant }}
          </li>
        </ul>

        <p>Total: {{ shoppingTotal }}</p>
        <stripe-checkout
          ref="checkoutRef"
          :pk="publishableKey"
          :lineItems="filteredCarts"
          mode="payment"
          :successUrl="successUrl"
          :cancelUrl="cancelUrl"
        >
          <template slot="checkout-button">
            <base-button @click="checkout" type="warning" class="ml-3">
              Checkout &nbsp;<i class="ni ni-cart"></i>
            </base-button>
            <p v-show="checkoutStatus">Checkout {{ checkoutStatus }}.</p>
          </template>
        </stripe-checkout>
      </div>
    </card>
    <el-table style="width: 100%" :data="products">
      <el-table-column min-width="150" label="Image" align="left">
        <div slot-scope="{ row }" class="img-container">
          <img :src="row.image" alt="Agenda" />
        </div>
      </el-table-column>
      <el-table-column min-width="220" label="Product" align="left">
        <div class="td-name" slot-scope="{ row }">
          <a href="">{{ row.itemName }}</a>
        </div>
      </el-table-column>
      <el-table-column min-width="180" label="Price" header-align="right">
        <div slot-scope="{ row }" class="td-number">
          <small>$</small>
          {{ row.sale }}
        </div>
      </el-table-column>
      <el-table-column min-width="180" label="Quantity" header-align="right">
        <div slot-scope="{ row }" class="td-number">
          {{ row.quant }}
          <div class="btn-group">
            <base-button
              type="info"
              size="sm"
              @click.native="decreaseQuantity(row)"
            >
              <i class="ni ni-fat-delete"></i>
            </base-button>
            <base-button
              type="info"
              size="sm"
              @click.native="increaseQuantity(row)"
            >
              <i class="ni ni-fat-add"></i>
            </base-button>
          </div>
        </div>
      </el-table-column>
      <el-table-column min-width="170" label="Amount" header-align="right">
        <div slot-scope="{ row }" class="td-number">
          {{ row.amount }}
        </div>
      </el-table-column>
    </el-table>
    <div class="table table-stats">
      <div class="td-total">
        Total
      </div>
      <div class="td-price">
        <small>$</small>
        {{ shoppingTotal }}
      </div>
      <div class="text-right">
        <button
          type="button"
          rel="tooltip"
          class="btn btn-info btn-round "
          data-original-title=""
          title=""
          @click="checkout"
        >
          Complete Purchase
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn } from "element-ui";
import axios from "axios";
import Card from "../components/Card.vue";
import { StripeCheckout } from "vue-stripe-checkout";
import { mapState } from "vuex";

export default {
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    Card,
    StripeCheckout,
  },
  data() {
    return {
      loading: false,
      products: [],
      publishableKey: "pk_test_xuuaEcmuwtheU8OlrsGCp8nn00UXYaikzu",
      lineItems: [],
      successUrl: "https://store.pharmaguide.ca/product-page",
      cancelUrl: "http://store.pharmaguide.ca/product-page",
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.retrieveProducts();
  },
  computed: {
    ...mapState({
      checkoutStatus: (state) => state.cart.checkoutStatus,
    }),
    shoppingTotal() {
      return this.products.reduce((accumulator, current) => {
        return accumulator + current.amount;
      }, 0);
    },
    // cart() {
    //   return this.products.map((cart) => {
    //     return [
    //       {
    //         price: cart.price,
    //         quantity: cart.quant,
    //       },
    //     ];
    //   });
    // },
    stripeCart() {
      return this.products.map((product) => {
        // if (product.quant > 0) {
        return {
          price: product.price,
          quantity: product.quant,
        };
        // } else {
        //   return "";
        // }
      });
    },
    filteredCart() {
      return this.products.filter((product) => {
        if (product.quant > 0) {
          return {
            price: product.price,
            quantity: product.quant,
          };
        } else {
          return "";
        }
      });
    },
    filteredCarts() {
    return this.products.filter((product) => product.quant > 0).map((product) => {
          return {
            price: product.price,
            quantity: product.quant,
          };
      });
    },
  },
  methods: {
    ...mapState({
      checkoutStatus: (state) => state.cart.checkoutStatus,
    }),
    checkout() {
      this.$refs.checkoutRef.redirectToCheckout();
    },
    async increaseQuantity(row) {
      row.quant++;
      this.computeAmount(row);
    },
    async decreaseQuantity(row) {
      if (row.quant > 0) {
        row.quant--;
        this.computeAmount(row);
      }
    },
    async computeAmount(row) {
      row.amount = row.quant * row.sale;
    },
    async retrieveProducts() {
      // Get the access token from the auth wrapper
      const token = await this.$auth.getTokenSilently();

      // Use Axios to make a call to the API
      const { data } = await axios.get("/stores", {
        baseURL: "http://localhost:8090/api/",
        // baseURL: "https://localhost:8090/api/",
        headers: {
          Authorization: `Bearer ${token}`, // send the access token through the 'Authorization' header
        },
      });
      this.products = data;
      console.log(this.products);
    },
  },
};
</script>
<style>
.table-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
</style>
