<template>
  <div class="wrapper">
    <div class="section-shaped my-0 skew-separator skew-mini">
      <div class="page-header page-header-small header-filter">
        <div
          class="page-header-image"
          style="background-image: url('img/sections/unsplashs.jpg');"
        ></div>
        <div class="container">
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                <h1 class="text-white">Welcome!</h1>
                <p class="text-lead text-white">
                  Please Click the button below to login securely
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="upper">
      <div class="container">
        <div class="col-lg-5 col-md-8 mx-auto">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Login with</small>
              </div>
              <div v-if="!$auth.loading" class="btn-wrapper text-center">
                <base-button
                  v-if="!$auth.isAuthenticated"
                  @click="login"
                  tag="a"
                  type="neutral"
                  class="btn-icon"
                >
                  <span class="btn-inner--icon"
                    ><img
                      src="https://identicons.dev/static/icons/light/icon-auth0.svg"
                  /></span>
                  <span class="btn-inner--text">Login</span>
                </base-button>
                <base-button
                  v-if="$auth.isAuthenticated"
                  @click="logout"
                  tag="a"
                  type="neutral"
                  class="btn-icon"
                >
                  <span class="btn-inner--icon"
                    ><img
                      src="https://identicons.dev/static/icons/light/icon-auth0.svg"
                  /></span>
                  <span class="btn-inner--text">Logout</span>
                </base-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  bodyClass: "login-page",
  methods: {
    // Log the user in
    login() {
      this.$auth.loginWithRedirect();
    },
    // Log the user out
    logout() {
      this.$auth.logout({
        returnTo: window.location.origin
      });
    }
  }
};
</script>

<style></style>
