<template>
  <ul>
    <a v-for="product in products" :key="product.itemNumber">
      <!-- <br> -->
      <base-button
        @click="addProductToCart(product)"
        type="warning"
        class="ml-3"
      >
        Add to cart
      </base-button>
    </a>
  </ul>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  computed: mapState({
    products: state => state.products.all
  }),
  methods: mapActions("cart", ["addProductToCart"]),
  created() {
    this.$store.dispatch("products/getAllProducts");
  }
};
</script>
