<template>
  <div class="cart">
    <h2>Your Cart</h2>
    <p v-show="!products.length"><i>Please add some products to cart.</i></p>
    <ul>
      <li v-for="product in products" :key="product.id">
        {{ product.price }} - {{ product.sale | currency }} x
        {{ product.quantity }}
      </li>
    </ul>
    <p>Total: {{ total | currency }}</p>
    <stripe-checkout
      ref="checkoutRef"
      :pk="publishableKey"
      :lineItems="productstripe"
      mode="payment"
      :successUrl="successUrl"
      :cancelUrl="cancelUrl"
    >
      <template slot="checkout-button">
        <base-button @click="checkout" type="warning" class="ml-3">
          Checkout &nbsp;<i class="ni ni-cart"></i>
        </base-button>
        <!-- <p>
          <button :disabled="!products.length" @click="checkout(products)">
            Checkout
          </button>
        </p> -->
        <p v-show="checkoutStatus">Checkout {{ checkoutStatus }}.</p>
      </template>
    </stripe-checkout>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import { StripeCheckout } from "vue-stripe-checkout";

export default {
  components: {
    StripeCheckout
  },
  data() {
    return {
      loading: false,
      publishableKey: "pk_test_xuuaEcmuwtheU8OlrsGCp8nn00UXYaikzu",
      lineItems: [],
      // lineItems: [
      //   // {
      //   //   price: "price_1Hu8e5Jg0iXaYOVYppzUVxrs",
      //   //   quantity: 2,
      //   // },
      //   {
      //     price: "price_1Hu88FJg0iXaYOVYlKRSbzQc",
      //     quantity: 1,
      //   },
      // ],
      successUrl: "https://store.pharmaguide.ca/product-page",
      cancelUrl: "http://store.pharmaguide.ca/product-page",
      quantity: 1
    };
  },
  // created(){
  //   this.productstripe ${this.productstripe}
  // }
  computed: {
    ...mapState({
      checkoutStatus: state => state.cart.checkoutStatus
    }),
    ...mapGetters("cart", {
      products: "cartProducts",
      productstripe: "stripeCart",
      total: "cartTotalPrice"
    })
  },
  methods: {
    // checkout(productstripe) {
    //   this.$store.dispatch("cart/checkout", productstripe);
    // },
    checkout() {
      this.$refs.checkoutRef.redirectToCheckout();
    }
  }
};
</script>
