<template>
  <div class="wrapper">
    <div class="col-sm-4 col-12 pl-lg-0">
      <base-button type="primary" class="btn-block" @click="retrieveFaxes"
        >Call</base-button
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "faxes-list",
  data() {
    return {
      search: "",
      expanded: [],
      singleExpand: false,
      headers: [
        // {
        //   text: "_id",
        //   align: "start",
        //   filterable: true,
        //   value: "_id"
        // },
        { text: "OCR", filterable: true, value: "data-table-expand" },
        { text: "From", value: "From" },
        { text: "URL", value: "URL" },
        { text: "To", value: "To" },
        { text: "TimeStamp", value: "TimeStamp" }
        // { text: "SID", value: "SID" }
      ],
      faxes: []
    };
  },
  methods: {
    async retrieveFaxes() {
      // Get the access token from the auth wrapper
      const token = await this.$auth.getTokenSilently();

      // Use Axios to make a call to the API
      const { data } = await axios.get("/faxes", {
        baseURL: "http://localhost:8090/api/",
        headers: {
          Authorization: `Bearer ${token}` // send the access token through the 'Authorization' header
        }
      });

      this.faxes = data;
      console.log(this.faxes);
    },
    customDataTableItemsFilter(value, search, items) {
      /*
      Filter for individual words in search string. Filters
      all object values rather than just the keys included
      in the data table headers.
       */
      const wordArray = search
        .toString()
        .toLowerCase()
        .split(" ")
        .filter(x => x);
      return wordArray.every(word =>
        JSON.stringify(Object.values(items))
          .toString()
          .toLowerCase()
          .includes(word)
      );
    },
    Mounted() {
      this.retrieveFaxes();
    }
  }
};
</script>
