<template>
  <div id="app">
    <router-view name="header"></router-view>
    <main>
      <fade-transition origin="center" mode="out-in" :duration="250">
        <router-view />
      </fade-transition>
    </main>
    <!-- <ProductList/>
            <hr>
    <ShoppingCart/> -->
    <router-view name="footer"></router-view>
  </div>
</template>

<script>
import { FadeTransition } from "vue2-transitions";
// import ProductList from '../src/views/ProductList.vue'
// import ShoppingCart from '../src/views/ShoppingCart.vue'

export default {
  components: {
    FadeTransition
    // ProductList,
    // ShoppingCart
  },
  data() {
    return {
      userId: this.$auth.user.sub,
      name: this.$auth.user.name,
      email: this.$auth.user.email
    };
  }
};
</script>
